:root {
    /* Paleta de Colores */
    --main: #EB4A5A;
    --white: #F9FAFC;
    --lightGray: #F6F3F3;
    --darkGray: #434343;
    --blue: #274671;
    /* Fuentes */
    --fuentePrincipal: 'Helvetica Neue Regular', sans-serif;
    /* Separacion */
    --separacion: 5rem;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html {
    font-size: 62.5%;  /*  1REM = 10x */
    
}
body {
    background-color: var(--white);
    overflow-x: hidden;
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    font-weight: 900;
}
img{
    max-width: 100%;
    display: block;
}
/** Globales **/
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
h1{
    font-size: 2.4rem;
    font-weight: 700;
}
h2{
    font-size: 2rem;
    font-weight: 900;
}
.nav__bar{
    height: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--lightGray);
}
@media ( min-width: 768px ) { 
    .nav__bar{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
@media ( min-width: 1200px ) { 
    .nav__bar{
        padding-left: 8rem;
        padding-right: 8rem;
    }
}
.nav__logo-academlo{
    width: contain;
    height: 5rem;
}
.header{
    background-color: var(--main);
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose{
    margin-top: var(--separacion);
    display: flex;
    justify-content: space-between;
}
.choose__select{
    border: 3px solid var(--lightGray);
    padding: 0.5rem 2.5rem 0.5rem 0.8rem;
}
