:root {
    /* Paleta de Colores */
    --main: #EB4A5A;
    --white: #F9FAFC;
    --lightGray: #F6F3F3;
    --darkGray: #434343;
    --blue: #274671;
    /* Fuentes */
    --fuentePrincipal: 'Helvetica Neue Regular', sans-serif;
    /* Separacion */
    --separacion: 5rem;
}
img{
    max-width: 150%;
    display: block;
}
.nav__back{
    position: fixed;
    width: 100%;
    top: 5rem;
    display: flex;
    gap: 3rem;
    padding-left: 3.3rem;
    align-items: center;
    background-color: var(--lightGray);
    z-index: 11;
}
.cart-modal{
    z-index: 15;
}
@media ( min-width: 768px ) { 
    .nav__back{
        padding-left: 5.3rem;
    }
}
@media ( min-width: 1200px ) { 
    .nav__back{
        padding-left: 8.3rem;
    }
}
.nav__icon{
    font-size: 2.5rem;
    cursor: pointer;
}
.detail-product{
    position: relative;
    top: 12rem;
    
}
@media ( min-width: 768px ) { 
    .detail-product{
        width: 95%;
        
    }
}
@media ( min-width: 900px ) { 
    .detail-product{
        width: 85%;
    }
}
@media ( min-width: 1068px ) { 
    .detail-product{
        width: 75%;
    }
}
@media ( min-width: 1195px ) { 
    .detail-product{
        width: 65%;
    }
}
@media ( min-width: 1375px ) { 
    .detail-product{
        width: 55%;
    }
}
@media ( min-width: 1610px ) { 
    .detail-product{
        width: 45%;
    }
}
.detail-product__card{
    margin-bottom: 3rem;
}
@media ( min-width: 768px ) { 
    .detail-product__card{
        display: grid;
        grid-template-columns: 7fr 6fr;
        gap: 8rem;
    }
} 
.detail-product__flex{
    display: flex;
    justify-content: end;
    position: relative;
}
@media ( min-width: 768px ) { 
    .detail-product__flex{
        display: grid;
        grid-template-columns: 1;
        grid-column: 2 / 3;
        background-color: #EB4A5A;
    }
    
}
.detail-product__bg{
    background-color: var(--main);
    width: 63%;
    height: 37rem;
}
@media ( min-width: 420px ) { 
    .detail-product__bg{
        height: 45rem;
    }
}
@media ( min-width: 505px ) { 
    .detail-product__bg{
        height: 50rem;
    }
}
@media ( min-width: 575px ) { 
    .detail-product__bg{
        height: 55rem;
    }
}
@media ( min-width: 630px ) { 
    .detail-product__bg{
        height: 60rem;
    }
}
@media ( min-width: 700px ) { 
    .detail-product__bg{
        height: 65rem;
    }
}
@media ( min-width: 768px ) { 
    .detail-product__bg{
        grid-column: 2 / 3;
        height: 37rem;
    }
}

.detail-product__img{
    position: absolute;
    width: 97%;
    left: 0rem;
    top: 1rem;
}
@media ( min-width: 768px ) { 
    .detail-product__img{
        width: 145%;
        left: -8rem;
        top: 2rem;
    }
}
.detail-product__details{
    margin-top: 3rem;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
@media ( min-width: 768px ) { 
    .detail-product__details{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-top: 0;
    }
}
@media ( min-width: 768px ) { 
    .detail-product__details{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-top: 0;
    }
}
.detail-product__img-2{
    width: 30%;
    border: 1px solid var(--main);
}
.tallas{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    
}
.talla{
    border: 1px solid var(--main);
    display: inline-block;
    padding: 1rem;
    width: 7rem;
    text-align: center;    
    margin: 0;
    line-height: 1.5;
}
.detail-product__btn-add{
    padding: 1rem 10rem;
    border: none;
    background-color: var(--main);
    color: var(--white);
    width: 87%;
    align-self: center;
    margin-top: 2.5rem;
    transition: background-color;
    transition-duration: 300ms;
}
@media ( min-width: 768px ) { 
    .detail-product__btn-add{
        width: 70%;
    }
}
.detail-product__btn-add:hover{
    cursor: pointer;
    background-color: #e61c30;
}
.detail-product__description{
    line-height: 1.2;
}
.detail-product__lorem{
    line-height: 1.2;
    font-weight: 400;
}
@media ( min-width: 768px ) { 
    .detail-product__btn-add{
        margin-bottom: 0;
        padding: 1rem 0;
    }
}
.detail-product__label{
    margin: 0;
    line-height: 1.3;
}
.detail-product__box{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.detail-product__span{
    color: var(--main);
}
.detail-product__cantidad{
    padding: 1rem 0 1rem 1rem;
    text-align: center;
    border: 1px solid var(--main);
}
